@model SFFinalBlog2.DAL.Models.Post
@{
	ViewData["Title"] = "Post view";
}

<div class="card w-75">
	<h1 class="card-title">@Model.Title</h1>
	@{
		<div>
			<h6>Tags:</h6>
			@foreach (var tag in Model.Tags)
			{
				<span class="badge rounded-pill text-bg-success" style="color:green; display:inline;">@tag.Name</span>
			}
		</div>
	}
	<p></p>
	<p>@Model.Content</p>
	<h7>Author: <b>@Model.AuthorId</b></h7>
	<br/>
</div>
@{
	<br/>
	<p>Комментарии к статье</p>
	if (Model.Comments.Count() == 0)
	{
		<h5 style="color: gray;">Коментарии отсутствуют</h5>
	}
	else
	{
		foreach (var comment in Model.Comments)
		{
			<br/>
			<p>User: <b>@comment.AuthorName</b></p>
				<div class="card w-75">
					@if (User.IsInRole("Администратор") || User.Identity?.Name == comment.AuthorName)
					{
						<p><i>@comment.Content</i></p>
						<a class="btn btn-outline-info button" method="get" asp-controller="Comment" asp-action="EditComment" asp-route-id="@comment.Id">Редактировать</a>
						<a class="btn btn-outline-danger button" method="post" asp-controller="Comment" asp-action="RemoveComment" asp-route-id="@comment.Id">Удалить</a>
					}
					else
					{
						<p><i>@comment.Content</i></p>
					}
				</div>
			}
	}
	<br/>
	<div>
		<a class="btn btn-outline-secondary" method="get" asp-controller="Comment" asp-action="CreateComment" asp-route-postId="@Model.Id">Оставить комментарий</a>
	</div>
}